.checkout-page {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.checkout-page-m {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout-page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #24116e;
}

.checkout-form {
    min-width: 70%;
    margin-right: 2rem;
}

.checkout-main-container {
    display: flex;
}

.checkout-buy-list {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    width: 100%;
}