.blog-entry {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.blog-entry-presentation {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #F5F5F5;
    cursor: pointer;
}

textarea:read-only {
    border: 0;
    box-shadow: none;
    background-color: #F5F5F5;
    resize: none;
  }

.blog-entry-text-area {
    width: 100%;
    height: 500px;
    font-size: 1.5rem;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #F5F5F5;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
}

@media (max-width: 1200px) {
    .modal-box {
        width: 95%;
    }

    .blog-entry-text-area {
        height: 600px;
    }
}
