.questions {
    background: linear-gradient(162deg, rgba(255,255,255,1) 0%, rgba(150,129,235,1) 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.questions-answer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10rem;
}

.question-title {
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.item {
    flex: 0 0 calc(33.33% - 1rem); 
    margin: 0.5rem; 
}

@media (max-width: 1200px) {
    .questions-answer {
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;
    }
    .question-title {
        text-align: center;
    }
}